/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
}

/* Styles pour le header */
header {
  background-color: #09131b;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-style: outset;
}

header h1 {
  margin-left: 20px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.box {
  width: 300px; /* Largeur de la carte */
  height: 150px; /* Hauteur de la carte */
  background-color: #FFFFFF; /* Couleur de fond blanche */
  border: 2px solid #BBBBBB; /* Bordure grise épaisse */
  border-radius: 10px; /* Coins arrondis */
  padding: 20px; /* Espacement intérieur */
  box-shadow: 2px 2px 10px #BBBBBB; /* Ombre autour de la carte */
  text-align: center; /* Alignement du texte au centre */
  margin: 0 auto; /* Centrer horizontalement */
  display: flex; /* utilisation de flex box */
  flex-wrap: wrap; /* les éléments peuvent s'enrouler sur plusieurs lignes */
  justify-content: space-between; /* espacement égal entre les éléments sur l'axe principal (horizontal) */
  align-items: center; /* centrer les éléments sur l'axe transversal (vertical) */
  align-content: space-between; /* espacement égal entre les lignes sur l'axe transversal (vertical) */
}

.box a {
color: #333333; /* Couleur de lien noire */
text-decoration: none; /* Pas de soulignement */
font-weight: bold; /* Gras */
font-size: 1.5em; /* Taille de police plus grande */
}

.socialMedia {
width: 50px;
margin: 10px;
align-self: center; 
}
